body{
  margin: 0;
  padding: 20px;
}

table {
  width: 30rem;
  height: 30rem;
} td {
  border-collapse: collapse;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
}